body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.my-modal{
  max-width: 800px;
}

.modal__request{
  background-color: rgba(60, 60, 60, 0.5)

  ;
}
@media only screen and (max-width: 1031px) {
  .my-modal-group{
    max-width: 500px;
  }
}
@media only screen and (max-width: 831px) {
  .my-modal-group{
    max-width: 400px;
  }
}

@media only screen and (max-width: 663px) {
  .my-modal-group{
    max-width: 370px
  }
}
